OWNER_NAME="France King"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://i.imgur.com/Z2TWPQS.jpeg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛France King᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= "sw"
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
